/*************************************************/
/***************** PAGE CONTACT ******************/
/*************************************************/

/******************** ALL ************************/

.container {
    padding-top: 0px;
}

/***************** FIL ARIANE ********************/

.breadcrumb {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.breadcrumb a {
    color:#474747;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active{
    font-weight: bold;
    text-decoration: underline;
    color:#f62775;
}

.breadcrumb-item + .breadcrumb-item::before {
    content:">";
    color:#f62775;
}

.cadre {
    margin-left:40px !important;
    transition:all 1s;
    margin-bottom: 50px;
}

/******************* FORMULAIRE *********************/
h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #f62775;
    margin-bottom: 5px;
}

.before-faq {
    display: block;
    text-align: center;
    font-size:14px;
    line-height: 22px;
    font-weight: 500;
    font-style: italic;
}

label {
    margin-bottom:8px;
}

.civilite-title, .custom-radio {
    margin-right: 25px;
    display: inline-block;
}

textarea {
    min-height: 150px;    
}

.custom-control-label::before, .custom-control-label::after {
    top:0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before, .custom-radio .custom-control-input:checked ~ .custom-control-label::before  {
    background-color: #f62775;   
}

.btn-primary {
    background-color: #f62775;   
    transition: all 0.2s ease;
    border:0;
}

.btn-primary:hover {
    background-color:#d31a60;
}

a {
    color: #f62775;
    transition: all 0.2s ease;
}

a:hover {
    color:#d31a60;
}

.coord-content {
    background-color:#f5f5f5;
    padding: 15px;
    text-align: center;
    margin: 15px;
    font-size:14px;
    line-height:18px;
}

.fa-contact {
    margin-bottom:10px;
    color: #f62775;
}

.coord-title {
    font-weight: 600;
    margin-bottom:10px;
}





/*************************************************/
/***************** RESPONSIVE ********************/
/*************************************************/
@media screen and (max-width: 575.98px) {
    .needs-validation {
        font-size:12px;
    }
    .custom-radio {
    margin-right: 15px;
}
    
}