/*************************************************/
/************** PAGE PROFESSIONNELS **************/
/*************************************************/

/******************** ALL ************************/

.container {
    padding-top: 0px;
}

/***************** FIL ARIANE ********************/

.breadcrumb {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.breadcrumb a {
    color:#474747;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active{
    font-weight: bold;
    text-decoration: underline;
    color:#f62775;
}

.breadcrumb-item + .breadcrumb-item::before {
    content:">";
    color:#f62775;
}

/******************* FORMULAIRE *********************/

h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color:#f62775;
    padding:0;
}

.categorie {
    padding: 0;
    overflow: hidden;
    text-align:center;
    height: 300px;
}

.color {
    background-color: rgba(246,39,117,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    transition:all 0.2s ease;
}

.encart-pro {
    font-size: 20px;
    line-height: 45px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    z-index: 500;
    top: 20%;
    transition:all 0.2s ease;
    width: 100%;
}

.encart-pro img, .background-pro-img {
    margin: 0 auto;
}

.encart-pro img {
    display: block;
    height: 100%;
}

.background-pro-img {
    height: 100%;
}

.encart-pro:hover + .color{
    background-color: rgba(246,39,117,0.75);
}

hr {
    border-color: #f62775;
}

.btn-primary {
    background-color: #f62775;   
    transition: all 0.2s ease;
    border:0;
}

.btn-primary:hover {
    background-color:#d31a60;
}

a {
    color: #f62775;
    transition: all 0.2s ease;
}

a:hover {
    color:#d31a60;
}

/*************************************************/
/***************** RESPONSIVE ********************/
/*************************************************/

@media screen and (max-width: 991.98px) {
    .encart-pro {
        font-size:16px;
        line-height:30px;
    }
}

@media screen and (max-width: 767.98px) {
    .background-pro-img {
        width: 100%;
        height: auto;
    }

    .categorie {
        margin-bottom: 40px;
    }

    .encart-pro {
        top:30%;
    }
    
    .categorie {
        height: auto;
    }
}

@media screen and (max-width: 575.98px) {


}