/*************************************************/
/**************** PAGE CATALOGUE *****************/
/*************************************************/

/******************** ALL ************************/

.container {
    padding-top: 0px;
}

/***************** FIL ARIANE ********************/

.breadcrumb {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.breadcrumb a {
    color:#474747;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active{
    font-weight: bold;
    text-decoration: underline;
    color:#f62775;
}

.breadcrumb-item + .breadcrumb-item::before {
    content:">";
    color:#f62775;
}

.cadre {
    margin-left:40px !important;
    transition:all 1s;
    margin-bottom: 50px;
}

/******************* EN-TETE *********************/

h3 {
    text-align: center;
    margin-bottom: 15px;
}

.en-tete {
    min-height:50px;
    background-color:#fceef3;
    padding: 20px 40px;
    margin-bottom: 40px;
}

.desc-catalogue {
    font-size: 14px;
    line-height: 20px;
}

/**************** CORNER PROMO *******************/


.side-corner-tag {
    position: relative;
    color: #fff;
    display: inline-block;
    overflow: hidden;
    font-weight: 500;
} 

.side-corner-tag p span {
    position: absolute;
    display: inline-block;
    left: -40px;
    text-align: center;
    text-transform: uppercase;
    top: 50px;
    background: #f52674;
    width: 200px;
    font-size: 14px;
    padding: 3px 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
} 


/*************************************************/
/************** SIDEBAR RECHERCHE ****************/
/*************************************************/

h4.filtre-aside {
    font-size:16px;
    font-weight:600;
    text-align: left;
    color: #f62775;
}

h4.filtre-aside::after {
    content: "";
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 1px;
    background-color: #f62775;
}

.filtre {
    padding:0;
}
.filtre-cate {
    margin: 30px 0 10px 0;
    display: inline-block;
    font-weight: 500;
    padding-left: 20px;
    display: block;
}
.filtre-cate a {
    color:#474747;
}

.list-options {
    border-bottom:1px solid #f62775;
}


.list-options li {
    position: relative;
    margin-bottom: 10px;
}

.checkbox-label {
    padding-left:20px;
}

input[type="checkbox"] {
    /* hide original check and radio buttons */
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 2;
}

.checkbox-label::before, .checkbox-label::after {
    /* custom radio and check boxes */
    content: '';
    display: block;
    position: absolute;
    left:0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.list-options .checkbox-label::before {
    width: 13px;
    height: 13px;
    left: 0;
    border:2px solid #e6e6e6;
    background-color: #fff;
}

.list-options .checkbox-label::after {
    /* check mark - hidden */
    display: none;
}

.checkbox-label::after {
    /* check mark style for check boxes */
    width: 13px;
    height: 13px;
    background: url("../img/catalogue_carrelages/cd-icon-check.svg") no-repeat center center;
}

.list-options input[type=checkbox]:checked + label::before {
    border-color: #f62775;
    background-color: #f62775;
}
.list-options input[type=checkbox]:checked + label::after {
    display: block;
}

.filtre-cate {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.filtre-cate::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 16px;
    height: 16px;
    background: url(../img/catalogue_carrelages/cd-icon-arrow.svg) no-repeat center center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
}

.checked {
    color:#f62775;
}


/**************** CARTES PRODUITS *******************/

.voir_produit, .ajout_panier {
    text-align: center;
}

.voir_produit::before {
    margin: 0 10px 0 0px !important;
}

.devis_icon {
    display: block;
    text-align: center;
    margin-left: 0;
}

/****************** PAGINATION **********************/

.nav-pagination {
    float:right;
    padding: 0;
}

.page-link {
    border-color:#f62775;
    color:#474747;
    transition: all 0.2s ease;
    font-size: 12px;
    font-weight: 600;
}

.page-link:hover {
    border-color:#f62775;
    color:#d31a60;
}

/***************** SCROLL TO TOP ********************/

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #f62775;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 5px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}



/*************************************************/
/***************** RESPONSIVE ********************/
/*************************************************/

@media screen and (max-width: 767.98px) {

    .cadre {
        margin: 5px !important;
    }

    .list-options:last-child {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 575.98px) {
    h3 {
        font-size: 25px;
    }
    
    .en-tete {
        padding: 20px 20px;
    }
    
    .desc-catalogue {
        font-size: 12px;
        line-height: 18px;
    }
}