/*************************************************/
/***************** PAGE COMPTE *******************/
/*************************************************/

/******************** ALL ************************/

.container {
    padding-top: 0px;
}

/***************** FIL ARIANE ********************/

.breadcrumb {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.breadcrumb a {
    color:#474747;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active{
    font-weight: bold;
    text-decoration: underline;
    color:#f62775;
}

.breadcrumb-item + .breadcrumb-item::before {
    content:">";
    color:#f62775;
}

.cadre {
    margin-left:40px !important;
    transition:all 1s;
    margin-bottom: 50px;
}

/******************* CONNEXION *********************/
h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #f62775;
    margin-bottom: 5px;
}

.subtitle {
    display: block;
    text-align: center;
    font-style: italic;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 12px;
}

label {
    margin-bottom: 5px;
}

.form-horizontal{
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 15px 0 rgba(0,0,0,0.12) !important;
}

.btn{
    background-color: #f62775; 
    transition: all 0.2s ease;
    border: none;
}

.btn:hover{
    background-color: #d31a60;  
}

.form-control{
    border-radius: 0px;
    margin-bottom: 10px;
}

p{
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

a.mdp {
    color: #474747;
    transition: all 0.2s ease;
    font-style: italic;
    text-decoration: underline;
    font-size: 12px;
}

a.mdp:hover {
    color: #f62775;
}

p .fa{
    color: #f62775;
    margin:10px 5px;
}

.fa-facebook-f{
    padding: 8px 13px 8px 13px;
    border: 1px solid #f62775;
    border-radius: 50%;
    transition: all 0.2s ease;
    color: #f62775;
}

.fa-twitter{
    padding: 8px 9px;
    border: 1px solid #f62775;
    border-radius: 50%;
    transition: all 0.2s ease;
    color: #f62775;
}

.fa-facebook-f:hover, .fa-twitter:hover, .fliper-btn:hover  {
    color:#d31a60;
}

.text-left {
    position:relative;
}

input[type="checkbox"] {
    /* hide original check and radio buttons */
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 2;
}

.checkbox-label {
    margin:1px 0 0 18px;
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
}

.checkbox-label::before {
    width: 13px;
    height: 13px;
    left: 0;
    border:2px solid #474747;
    background-color: #fff;
}

.checkbox-label::before, .checkbox-label::after {
    /* custom radio and check boxes */
    content: '';
    display: block;
    position: absolute;
    left:0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.checkbox-label::after {
    /* check mark - hidden */
    display: none;
}

.checkbox-label::after {
    /* check mark style for check boxes */
    width: 13px;
    height: 13px;
    background: url("../img/catalogue_carrelages/cd-icon-check.svg") no-repeat center center;
}

input[type=checkbox]:checked + label::before {
    border-color: #f62775;
    background-color: #f62775;
}

input[type=checkbox]:checked + label::after {
    display: block;
}

.fliper-btn {
    color:#f62775;
    transition: all 0.2s ease;
}

.flip {
    -webkit-perspective: 800;
    perspective: 800;
    position: relative;
}
.flip .card.flipped {
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}
.flip .card {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
    background-color: #fff;
    border: 0 !important;
}
.flip .card .face {
    -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
    z-index: 2;

}
.flip .card .front {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}
.flip .card .back {
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
    background-color: #fff;

}

.front, .back {
    margin-bottom: 100px;
    /* height: 500px;*/
    border: 0;
}

.inner{margin:0px !important;}