/*************************************************/
/************ PAGE TROUVER MON MAGASIN ***********/
/*************************************************/

/******************** ALL ************************/

.container {
    padding-top: 0px;
}

/***************** FIL ARIANE ********************/

.breadcrumb {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.breadcrumb a {
    color:#474747;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active{
    font-weight: bold;
    text-decoration: underline;
    color:#f62775;
}

.breadcrumb-item + .breadcrumb-item::before {
    content:">";
    color:#f62775;
}

.cadre {
    margin-left:40px !important;
    transition:all 1s;
    margin-bottom: 50px;
}

/******************* FORMULAIRE *********************/

h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color:#f62775;
    padding:0;
}

label {
    margin-bottom:8px;
}

.needs-validation input {
    height:35px;
}

hr {
    border-color: #f62775;
}

.btn-primary {
    background-color: #f62775;   
    transition: all 0.2s ease;
    border:0;
}

.btn-primary:hover {
    background-color:#d31a60;
}

a {
    color: #f62775;
    transition: all 0.2s ease;
}

a:hover {
    color:#d31a60;
}