/*************************************************/
/************** PAGE INFORMATIONS ****************/
/*************************************************/

/******************** ALL ************************/
p.delai:target {
    padding-top: 100em; 
    margin-top: -7em; 
}
p.espace {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    line-height: 22px;
    font-size: 14px;
}
.container {
    padding-top: 0px;
}

h4 {
    margin-top: 20px;
    color:#f62775;
    line-height: 22px;
}

/***************** FIL ARIANE ********************/

.breadcrumb {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.breadcrumb a {
    color:#474747;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active{
    font-weight: bold;
    text-decoration: underline;
    color:#f62775;
}

.breadcrumb-item + .breadcrumb-item::before {
    content:">";
    color:#f62775;
}

/******************* EN-TETE *********************/

h3 {
    text-align: center;
    margin-bottom: 15px;
}



/*************************************************/
/***************** SIDEBAR  **********************/
/*************************************************/

.aside-nav > .navbar {
    padding:0 0 20px;
    margin: 0
}

.navbar-brand:before {
    display:none;
}

.navbar-brand, .icon-nav {
    display: none;
}

.side-nav li {
    padding: 10px 0;
    border-bottom: 1px solid #f62775;
}

.side-nav li:last-child {
    border-bottom: none;
}

.side-nav li a {
    font-size: 14px;
    color: #474747;
    transition: all 0.2s ease;
    line-height: 18px;
    font-weight: 500;
}

.side-nav li a:before {
    content:"\F0a9";
    color:#f62775;
    font-weight: 600;
    margin-right: 6px;
    font-family: FontAwesome;
    font-weight: normal;
    font-size: 15px;
}

.side-nav li a:hover {
    color:#f62775;
}

aside {
    padding:0;
}

.title-section-produits {
    width:250px;
    top:0;
    text-align: left;
    padding-left: 15px;
}

hr {
    margin-top:2rem;
}

.text {
    padding:0 20px;
}


/*************************************************/
/***************** RESPONSIVE ********************/
/*************************************************/

@media screen and (max-width: 991.98px) {
    .navbar-brand {
        display: block;
        color: #f62775;
        padding-left: 15px;
        margin-bottom: 10px;
    }
    .icon-nav {
        display: block;
    }

    .icon-nav .fa-plus-circle {
        margin-right: 15px !important;
        font-size: 22px;
        color:#474747;
        margin-bottom: 10px;
    }

    .aside-nav .navbar-light {
        padding-top: 15px;
        margin-bottom: 20px;
        background-color:#f5f5f5;
        padding-bottom: 0;
    }

    .side-nav li a:before {
        display: none;
    }

    .side-nav li a {
        margin-left: 15px;
    }

    .title-section-produits {
        left:15px;
    }


}
@media screen and (max-width: 575.98px) {
    h3 {
        font-size: 25px;
    }

}