/*************************************************/
/******************* PAGE CGV ********************/
/*************************************************/

/******************** ALL ************************/

.container {
    padding-top: 0px;
}

/***************** FIL ARIANE ********************/

.breadcrumb {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.breadcrumb a {
    color:#474747;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active{
    font-weight: bold;
    text-decoration: underline;
    color:#f62775;
}

.breadcrumb-item + .breadcrumb-item::before {
    content:">";
    color:#f62775;
}

.cadre {
    margin-left:40px !important;
    transition:all 1s;
    margin-bottom: 50px;
}

/******************* CGV *********************/

h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #f62775;
    margin-bottom: 5px;
}

main{
    padding:40px 0;
}

p.espace {
    margin-top: 5px;
    font-size: 13px;
    line-height: 18px;
}

.btn.btn-link {
    color:#474747;
    transition: all 0.2s ease;
    font-style: normal;
}

.btn.btn-link:hover {
    color:#f62775;
}

.card-cgv {
    border-bottom:1px solid #f62775 ;
}

.card-body {
    padding-top:0;
}

.card-header-cgv {
    background-color: rgba(0,0,0,0);
    border-bottom: none;
    padding:0;
    margin-bottom:0;

}