/*************************************************/
/**************** PAGE COMMANDE ******************/
/*************************************************/

/******************** ALL ************************/

.container {
    padding-top: 0px;
}

/***************** FIL ARIANE ********************/

.breadcrumb {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.breadcrumb a {
    color:#474747;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active{
    font-weight: bold;
    text-decoration: underline;
    color:#f62775;
}

.breadcrumb-item + .breadcrumb-item::before {
    content:">";
    color:#f62775;
}

.cadre {
    margin-left:40px !important;
    transition:all 1s;
    margin-bottom: 50px;
}

/******************* FORMULAIRE *********************/
h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #f62775;
    margin-bottom: 5px;
}

label {
    margin-bottom:5px;
}

.needs-validation input, .p-2 > .input-group input {
    height: 38px;
}

hr {
    border-color: #f62775;
}

.custom-control-label::before, .custom-control-label::after {
    top:0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before, .custom-radio .custom-control-input:checked ~ .custom-control-label::before  {
    background-color: #f62775;   
}

.btn-primary {
    background-color: #f62775;   
    transition: all 0.2s ease;
    border:0;
}

.btn-primary:hover {
    background-color:#d31a60;
}

a {
    color: #f62775;
    transition: all 0.2s ease;
}

a:hover {
    color:#d31a60;
}

.text-success {
    color: #f62775;
}

.text-muted {
    font-style:italic;
    font-size: 10px;
}

.badge-secondary, .btn-secondary {
    background-color:#474747;
}

.btn-secondary {
    background-color:#474747;
}