/*************************************************/
/****************** PAGE SITEMAP *****************/
/*************************************************/

/******************** ALL ************************/

.container {
    padding-top: 0px;
}
/***************** FIL ARIANE ********************/

.breadcrumb {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.breadcrumb a {
    color:#474747;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active{
    font-weight: bold;
    text-decoration: underline;
    color:#f62775;
}

.breadcrumb-item + .breadcrumb-item::before {
    content:">";
    color:#f62775;
}

/***************** MAIN ********************/

.presentation a {
    font-size:16px;
    font-weight: 600;
}


section {
    border-top: 1px solid #f62775;
    padding-top: 1em;
    margin-top: 1em
}

section .col-md-3:first-child {
    border: none;
}

h2.map-title {
    font-size: 25px;
    font-style: initial;
    font-weight: 500;
    color:#f62775;

}

.list-cate {
    margin-left: 25px;
}

.list-cate li {
    margin:5px 0;
    list-style-type: initial;
}

.list-cate li a, .presentation a {
    color:#474747;
    transition:all 0.2s ease;
}

.list-cate li a:hover, .presentation a:hover {
    color:#f62775;
}

section:first-child {
    border-top: none;
}

