/*************************************************/
/***************** PAGE CONTACT ******************/
/*************************************************/

/******************** ALL ************************/

.container {
    padding-top: 0px;
}

/***************** MAIN ENCART *******************/


.jumbotron {
    border-radius: 0 !important;
    background: url("../img/qui_sommes_nous/background.jpg") no-repeat left;
    text-align: center;
}

.title-univers {
    font-size:50px;
    margin-bottom:20px;
}

.encart-univers {
    background-color:#f62775;
    padding: 15px;
}

.square-padding {
    padding-left: 0;
    background-color: #fff;
    color:#f62775;
}

h3 {
    text-align: center;
    font-size: 30px;
    font-style: normal;
    color: #fff;    
}

.histo-univers {
    align-items: center;
}

.date-univers {
    font-weight: 600;
    color:#f62775;
    font-size:25px;
    padding-bottom: 20px;
    margin-right: 30px;
}

.text-univers {
    padding-bottom: 20px;
    line-height:22px;    
}


.line-bottom {
    border: .05em solid #f62775;
    width:70%;
}

.img-montage img {
    height: auto;
    width: 100%;
}

.img-montage {
    padding: 0;
}

.legende-montage {
    padding: 25px;
    font-size: 16px;
    text-align: center;
    background-color: #afafaf;
}

/*************************************************/
/***************** RESPONSIVE ********************/
/*************************************************/

@media screen and (max-width: 767.98px) {
.date-univers {
    text-align: center}

}