/*************************************************/
/**************** PAGE PRODUIT *******************/
/*************************************************/

/**************** ALL *******************/

.green {
    background-color:burlywood
}

.red {
    background-color: antiquewhite;
}

.yellow {
    background-color: beige;
}

.height {
    min-height: 90px;
}

.container {
    padding-top: 0px;
}

/**************** FIL ARIANE *******************/

.breadcrumb {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.breadcrumb a {
    color:#474747;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active{
    font-weight: bold;
    text-decoration: underline;
    color:#f62775;
}

.breadcrumb-item + .breadcrumb-item::before {
    content:">";
    color:#f62775;
}

/*************************************************/
/**************** ROW PRODUCT ********************/
/*************************************************/

/***************** COL GALLERY *******************/

.product {
    min-height: 500px;
}

.main_img {
    padding: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
    float: left;
}

.main_img img {
    width: 100%;
}
.side_img {
    float: left;
    width: 100%;
}

.clear { clear: both; }

.miniatures {
    max-width: 30%;
    margin-right: 5%;
    margin-top:10px;
    height:auto;
    overflow: hidden;
    float:left;
}

.miniatures:last-child {
    margin-right:0;
}

.thumbnail img {
    max-width: 100%;
}

.zoom {
    display:inline-block;
    position: relative;
}


.zoom img {
    display: block;
}

/*********** COL DETAIL PRODUCT *************/

.detail_product {
    padding: 0 0 0 10px;
}

h3:after {
    content: "";
    display: block;
    margin-top: 15px;
    width: 100%;
    height: 1px;
    background-color: #474747;
}

.price {
    margin-top: 25px;
    color: #f62775;
    font-weight: 600;
    font-size: 30px;
    line-height: 15px;
    display: inline-block;
}

.ttc {
    font-size: 12px;
}

.m-2 {
    font-size: 12px;
    color: #474747;
}

.ref {
    margin-top: 10px;
    padding:5px;
    background-color: #474747;
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
    color: #FFF;
    float: right;
    display: inline-block;
}

.clear {
    clear: both;
}

.rating {
    width: auto;
    font-size: 12px;
    margin-top: 10px;
}

.checked {
    color:#f62775;
}

.custom-control-label {
    margin-top: 5px;
    font-size: 18px;
    line-height: 15px;
    margin-left: 15px;
}

.custom-control-label:before {
    border: 1px solid #f62775;
    background-color: #fff;
}

.custom-control-label:before, .custom-control-label:after {
    width: 2rem;
    height: 2rem;
}

.custom-control-input:checked ~ .custom-control-label:before {
    background-color:#fff !important;
}

.custom-control-input:checked ~ .custom-control-label:after {
    background-image: url(../img/produits_parquets/button_radio.svg) !important;
    background-size: 100%;
    background-position: center center;
}

.custom-control {
    float: left;
    margin: 40px 40px 0 0;
}

.shipping_libelle {
    font-size: 10px;
    font-style: italic;
}

.choix_mag {
    text-decoration: underline;
}

.ecrire_avis {
    margin-left: 5px;
    font-style: italic;
}

.ecrire_avis a {
    text-decoration: underline;
    display: inline-block;
    color: #474747;
}
.ecrire_avis a:first-letter {
    text-transform: uppercase;
}


.choix_mag, .devis a, .ecrire_avis a {
    color: #474747;
    transition: color 0.2s ease;
}

.choix_mag:hover, .ecrire_avis a:hover {
    color: #f62775;
    text-decoration: underline;
}

.devis {
    float: left;
    margin-top:20px;
    font-size: 14px;
}

.devis a {
    text-decoration: none;
}


.devis a:before {
    content: "\F0a9";
    font-family: FontAwesome;
    font-weight: normal;
    font-size: 14px;
    color:#474747;
    transition: color 0.2s ease;
}

.devis a:hover::before,  .devis a:hover {
    color: #f62775;
}

.ajouter-panier, .wish-retrait {
    float: left;
    font-size: 14px;
    color:#474747;
    width: 100%;
    margin-top:40px;
}

.wish-retrait {
    margin-top:0;
}

#quantite {
    line-height: 2.5;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0 10px 0 5px;
    text-align: center;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#quantite:active {
    border:1px solid #f62775;
}

.panier {
    background-color: #f62775;
    border-radius:8px;
    border: 0;
    padding: 12px;
    width: 40%
}

.panier:hover{
    background-color: #d31a60;
}

.panier:before {
    content: "\F07A";
    font-family: FontAwesome;
    font-weight: normal;
    font-size: 15px;
    margin: 0 10px 0 5px;
}

.wishlist, .dispo {
    background-color: white;
    color: #f62775;
    border: 1px solid #f62775;
    transition: all 0.2s ease;
    padding: 12px 0;
    min-width: 48%;
    margin-top: 40px;

}

.wishlist {
    margin-right: 20px;
}

.wishlist:hover, .dispo:hover {
    background-color: #f62775;
    color: white;
    border: 1px solid #f62775;
}

.wishlist:before, .dispo:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-size: 15px;
    margin-right: 5px;
}

.wishlist:before {
    content: "\F004";
}

.dispo:before {
    content: "\F022";
}

.reassurance {
    margin: 20px 30px;
}

/*************************************************/
/************ TABS MULTI- ONGLETS ****************/
/*************************************************/

.doc-tech {
    margin-top:30px;
}
.nav-item-tab {
    padding: 0;
    border: 0;
}

.tab-content {
    margin: 15px;
}

.nav-item-tab:first-child {
    border-left:0;
}

.nav-tabs {
    border-bottom: 1px solid #f62775;
    transition: all 0.2s ease;
}

.nav-item-tab a {
    color: #212529;
}

.nav-link.active {
    background-color: #f62775 !important;
    color: white !important;
    border: 1px solid #f62775 !important;
}

.nav-link {
    transition: all 0.2s ease;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #fff #fff #f62775;
    color:#f62775;
}

#myTab, #infos {
    font-size: 15px;    
}

h5 {
    font-size: 15px;
    font-weight: bold;
    margin: 15px 0;
}

th {
    font-weight: 500;
}

/*************** RATING SECTION ******************/

h4.title-not, h4.moyenne {
    text-align: left;
    margin: 0 0 10px 5px;
}

h4.moyenne {
    margin-left:0;
}

.tab-pane > span {
    line-height:20px;
}

.notation-star {
    width:45px;
    line-height:1; 
    text-align: right;
    padding-right:10px;
}

.notation-star > div {
    height:15px;
    margin:5px 0;
}

.progress-bar {
    background-color:#f62775;
}

.progress-bar-100 {
    width: 100%;
}

.progress-bar-80 {
    width: 80%;
}
.progress-bar-60 {
    width: 60%;
}
.progress-bar-40 {
    width: 40%;
}
.progress-bar-20 {
    width: 20%;
}

.notation-bar {
    width:160px;
}

.progress {
    height:9px;
    margin:8px 0;
}

.notation-avis-number {
    text-align: center;
    height:15px;
    margin:5px 0 0 10px;
    width: 15px;
}

.first-line, .second-line {
    padding:0;
}

.img-user {
    width:80px;
    background-color:#fff;
}

.review {
    padding-right: 50px;
}


.review-block{
    background-color:#FAFAFA;
    border:1px solid #EFEFEF;
    padding:15px;
    border-radius:3px;
    margin:30px 0 15px;
}
.review-block-name{
    font-size:12px;
    margin:10px 0;
}

.review-block-name a {
    color:#f62775;
}
.review-block-date{
    font-size:12px;
    line-height: 14px;
}
.review-block-rate{
    font-size:13px;
    margin-bottom:15px;
}
.review-block-title{
    font-size:15px;
    font-weight:700;
    margin-bottom:10px;
}
.review-block-description{
    font-size:13px;
    line-height:18px;
}

/*************************************************/
/***************** RESPONSIVE ********************/
/*************************************************/

@media screen and (max-width: 991.98px) {
    .custom-control {
        margin:20px 0 0;
    }
    .wishlist, .dispo {
        min-width: 100%;
        margin-top: 20px;
    }

    .panier {
        width:70%;
    }

}
@media screen and (max-width: 767.98px) {
    .side-img{
        margin-top: 10px;
    }

    .detail_product {
        padding: 20px 0 0 10px;

    }
    
    .custom-control {
        margin: 20px 20px 0px 0px;
    }
    
    .doc-tech {
        margin-top:0;
    }
    
    #myTab > .nav-item-tab {
        width: 50%;
        text-align: center;
    }
    
    .first-line, .second-line {
        padding-bottom:20px;
    }
      
}
@media screen and (max-width: 575.98px) {
    .panier {
        width: 100%;
        margin-top:20px;
    }
    
    .reassurance div {
        padding:0;
    }
    
    #comm-tab, #infos-tab {
        height:100%;
        padding:20px 0;
    }
}
