/*************************************************/
/******************* PAGE DEVIS ******************/
/*************************************************/

/******************** ALL ************************/

.container {
    padding-top: 0px;
}

/***************** FIL ARIANE ********************/

.breadcrumb {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.breadcrumb a {
    color:#474747;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active{
    font-weight: bold;
    text-decoration: underline;
    color:#f62775;
}

.breadcrumb-item + .breadcrumb-item::before {
    content:">";
    color:#f62775;
}

.cadre {
    margin-left:40px !important;
    transition:all 1s;
    margin-bottom: 50px;
}

/******************* FORMULAIRE *********************/

h3, h3.title {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

h3.title {
    color: #fff;
    background-color: #f62775;
    padding: 0.35em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.head-devis {
    padding:0;
}

.label-devis {
    padding-top: 1em;
    border-left: 1px solid #f62775;
    border-right: 1px solid #f62775;
}

.before-devis {
    display: block;
    text-align: center;
    font-size:14px;
    line-height: 22px;
    font-weight: 500;
    font-style: italic;
}

label {
    margin-bottom:8px;
}

.form-devis {
    border-left: 1px solid #f62775;
    border-right: 1px solid #f62775;   
    border-bottom: 1px solid #f62775;
}

.corporate {
    color:#f62775;
}

hr {
    border-color: #f62775;
}

.text-muted {
    font-style:italic;
    font-size: 10px;
    color:#fff !important;
    line-height:5px;
    display:block;
}

.civilite-title, .custom-radio {
    margin-right: 25px;
    display: inline-block;
}

textarea {
    min-height: 150px;    
}

.custom-control-label::before, .custom-control-label::after {
    top:0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before, .custom-radio .custom-control-input:checked ~ .custom-control-label::before  {
    background-color: #f62775;   
}

.btn-primary {
    background-color: #f62775;   
    transition: all 0.2s ease;
    border:0;
}

.btn-primary:hover {
    background-color:#d31a60;
}

a {
    color: #f62775;
    transition: all 0.2s ease;
}

a:hover {
    color:#d31a60;
}

.valid-devis {
    padding: 0 0 10px 0;
}