/*************************************************/
/**************** PAGE MENTIONS *****************/
/*************************************************/

/******************** ALL ************************/
p.espace {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
    line-height:22px;
}
.container {
    padding-top: 0px;
}

/***************** FIL ARIANE ********************/

.breadcrumb {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.breadcrumb a {
    color:#474747;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active{
    font-weight: bold;
    text-decoration: underline;
    color:#f62775;
}

.breadcrumb-item + .breadcrumb-item::before {
    content:">";
    color:#f62775;
}

/******************* EN-TETE *********************/

h3 {
    text-align: center;
    margin-bottom: 15px;
}


/**************** CARTES PRODUITS *******************/


.ligne_produits {
    margin-top : 30px;
}

.title-section-produits {
    width:350px;
    height: 35px;
    position: absolute;
    top: -15px;
    left: 0;
    padding-top: 10px;
    background-color: #f62775;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    padding-left: 15px;
}

.title-section-produits:after {
    content: "";
    position: absolute;
    top:0;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 0 25px;
    border-color: transparent transparent transparent #f62775;
}

.ligne_produits hr {
    padding-bottom:15px;
    padding-right: -15px;
}

/*************************************************/
/***************** RESPONSIVE ********************/
/*************************************************/

@media screen and (max-width: 575.98px) {
    h3 {
        font-size: 25px;
    }
    
    p.espace {
        font-size:12px;
        line-height:20px;
    }
}