/*************************************************/
/****************** PAGE PANIER ******************/
/*************************************************/

/******************** ALL ************************/

.container {
    padding-top: 0px;
}

/***************** FIL ARIANE ********************/

.breadcrumb {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.breadcrumb a {
    color:#474747;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active{
    font-weight: bold;
    text-decoration: underline;
    color:#f62775;
}

.breadcrumb-item + .breadcrumb-item::before {
    content:">";
    color:#f62775;
}

/******************* PANIER *********************/
h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #f62775;
    margin-bottom: 5px;
}

label {
    margin-bottom:5px;
}

th {
    font-weight:600;
    color:#4b4b4b;
}

td > img {
    width:100px;
    height:auto;
}

.table td, .table th {
    vertical-align: middle;   
}

.gestion-quant {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 120px;
    margin: 0 0 5px;
}

.gestion-quant .form-control {
    border:1px solid #f62775;
}

.quant-width {
    width: 25%;
}

.btn-minus, .btn-plus {
    float: left;
    height: 30px;
    width: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    color:#fff;
    background-color: #f62775;
}

.btn-minus {
    border-radius: 0.4em 0 0 0.4em;
    left: 0;
}

.btn-plus {
    border-radius: 0 0.4em 0.4em 0;
    right: 0;
}

.quantite {
    width: 50%;
    position: relative;
    float: left;
    text-align: center;
}

.text-muted {
    font-style: italic;
    font-size: 10px;
}

.calcul-label {
    text-align: right;
    font-weight: 600;
    color: #474747;
}

.btn-danger {
    background-color: #afafaf;
    border: 0;
    transition: all 0.2s ease;
}

.btn-danger:hover {
    background-color: #474747;
}

.btn-success {
    background-color:#f62775;
    transition:all .2s ease;
    border:1px solid #f62775;
}
.btn-success:hover {
    background-color:#d31a60;
    border:1px solid #d31a60;
}

/*************************************************/
/***************** RESPONSIVE ********************/
/*************************************************/

@media screen and (max-width: 767.98px) {
    td > img {
        width:50px;
    }

    .table {
        font-size: 12px;
    }

    .quantite {
        padding: 0;
        width:35%;
        height:20px;
    }

    .btn-minus, .btn-plus {
        height: 20px;
        width: 20px;
        line-height: 20px;
        font-weight: 500;
        font-size: 12px;
    }
    
    .btn-block {
        margin: 10px 0;
    }

}

