/*************************************************/
/****************** HOMEPAGE *********************/
/*************************************************/

/*************************************************/
/***************** RESET CSS *********************/
/*************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*************************************************/
/******************* HEADER **********************/
/*************************************************/

body {
    font-family: 'Montserrat', sans-serif;
    /*font-family: Futura,Trebuchet MS,Arial,sans-serif;*/
}

a:hover {
    text-decoration: none;
}

.annonce-container {
    background-color:#616161;
    color: white;
}

.annonce {
    height: 25px;
    line-height: 25px;
    font-weight: 700;
    font-size: 12px;
}

.icon_phone:after {
    content: "";
    display:inline-block;
    position: absolute;
    height: 25px;
    width: 25px;
    background:url(../img/header/icon_phone.svg);
    background-repeat: no-repeat;
    z-index: 5;
}

.icon_phone {
    padding-right: 25px;
}

.logo {
    background-color: #f8f8f8;
    /*background-color: red;*/
    height: 150px;
    padding: 1.2rem;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 85px;
    color: #373536;
}

h2 {
    font-size: 15px;
    font-style: italic;
    color: #373536;
    font-weight:300;
    letter-spacing: 1px;
}

h3 {
    font-size: 35px;
    font-weight: 200;
    color: #474747;
}

.square {
    background-color: #f52674;
    width: 70px;
    height: 75px;
    color: white;
    line-height: 70px;
    display: inline-block;
    padding-left: 10px;
}

.encart_devis, .encart_compte, .encart_conseils, .encart_panier {
    height: 50px;
}
.encart_devis, .encart_conseils {
    padding-left: 70px;

}

.encart_devis:before, .encart_compte:after, .encart_conseils:before, .encart_panier:after {
    content: "";
    position: absolute;
    height: 45px;
    width: 70px;
    background-repeat: no-repeat;
    z-index: 5;
    top: 0;
}

.encart_devis:before {
    background:url(../img/header/icon_devis.jpg);
    left: 0;
}

.encart_conseils:before {
    background:url(../img/header/icon_conseils.jpg);
    left: 0;
}

.encart_conseils button {
    text-align:left;
    background-color: rgba(0,0,0,0) !important;
    margin: 0;
    padding:0;
    border: none;
    line-height: inherit;
}

.encart_compte:after {
    background:url(../img/header/icon_compte.jpg);
    right: 0;
}

.encart_panier:after {
    background:url(../img/header/icon_panier.jpg);
    right: 0;
}

.encart_compte a, .encart_panier a, .encart_devis a, .encart_conseils a {
    color: #000;
    -webkit-transition: color 0.2s ease; /* Safari */
    transition: color 0.2s ease;
}

.encart_compte a:hover, .encart_panier a:hover, .encart_devis a:hover, .encart_conseils a:hover {
    color: #f62775;
}

.first_line, .second_line {
    border-bottom: 1px solid #ededed;
    position: relative;
}

.intitule {
    font-size: 14px;
    font-weight: bold;
    display: block;
    padding-top: 0.75rem;
}

.legende {
    font-size:12px;
    font-weight: 300;
    font-style: italic;
}

/*************************************************/
/***************** NAVIGATION ********************/
/*************************************************/

.menu {
    min-height: 40px;
    background: linear-gradient(to bottom, rgba(247,247,247,1) 0%, rgba(237,237,237,1) 100%);
    box-shadow: 0px -5px 5px -4px rgba(156,156,156,1);
    border-top: 1px solid #dfdfdf;

}

.navbar {
    font-size: 12px;
    font-weight: 600;
    min-height: 40px;
}

.navbar-brand:before {
    content: "\F015";
    font-family: FontAwesome;
    font-weight: normal;
    font-size: 25px;
}

.navbar-nav .nav-link {
    color: #000;
    -webkit-transition: color 0.2s ease; /* Safari */
    transition: color 0.2s ease;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:#f62775;
}

.nav-item {
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px solid #e6e6e6;
}

.nav-item:first-child {
    border-left: 1px solid #e6e6e6;
}

.nav-item:last-child {
    border:none;
}

.form-control {
    height: 30px;
    border:1px solid #c1c1c1;
    border-radius: 0;
    font-size:11px;
    font-style: italic;
    color: #c1c1c1;
}
.navbar-form {
    width: 190px !important;
    border-radius: none;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #f62775;
    outline: 0;
    box-shadow:none;
}

.btn-default {
    background: linear-gradient(#939393, #7d7d7d);
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-radius:0 5px 5px 0;
    height: 30px;
    width: 30px;
    padding: 0;
}

.btn > .fa {
    color: white;
}

/*************************************************/
/************** MODAL WINDOW FAQ *****************/
/*************************************************/

.modal {
    top:20%;
}

.modal-dialog {
    max-width:600px;
}

.modal-title {
    font-size: 20px;
    text-align: center;
    color:#f62775;
    font-weight: normal !important;
    margin: 0;
}

.modal-header {
    border-bottom:1px solid #afafaf;
}

.btn-modal {
    background-color:#f62775;
    transition: all 0.2s ease;
    border:none;
}

.btn-modal:hover {
    background-color:#d31a60;
}

.card {
    border:none;
}

.card-header {
    background-color:rgba(0,0,0,0);
    border-bottom: none;
}

.faq-title {
    font-size:14px;
    font-weight: 600;
    margin: 0;
}

.faq-title a {
    color:#474747;
    transition: all 0.2s ease;
}

.faq-title a:hover {
    color:#f62775;
}

.card-block {
    padding: 0px 22px;
    font-size: 14px;
    line-height: 18px;
}

.card-block a {
    color:#f62775;
    transition: all 0.2s ease;
}

.card-block a:hover {
    text-decoration: underline;
}

.fa-stack {
    margin-right:10px;
}



/*************************************************/
/******************** MAIN ***********************/
/*************************************************/


/******************* CAROUSEL ********************/

.carousel {
    padding:0;
}
.carousel-control-next, .carousel-control-prev {
    background:#f62775;
    width:5%;
    height: 40px;
    top:45%;
    -webkit-transition: opacity 0.2s ease; /* Safari */
    transition: opacity 0.2s ease;
}

.carousel-control-prev-icon {
    background-image:url('../img/homepage/arrow_left.svg');
}

.carousel-control-next-icon {
    background-image:url('../img/homepage/arrow_right.svg');
}

.carousel-caption {
    left: 0;
    right:0;
    bottom:0;
    padding: 10px 0 10px 25px;
    background-color: rgba(0,0,0,0.4);
    width:100%;
    text-align: left;
}

.carousel-item {
    height: 100%;
}
.carousel-item img {
    height: 361px;
    width: auto !important; 
}

h5 {
    font-size:12px;  
}

.carousel-indicators {
    bottom: 8px;
    margin-right:0;
    margin-left: 0;
    left: unset;
    right:30px;
}

.carousel-indicators li {
    height: 15px;
    width: 15px;
    border:1px solid #cbc3c0;
    box-sizing: border-box;
}

/*************************************************/
/******************** ASIDE **********************/
/*************************************************/

.main_categorie, .main_categorie_carrelages {
    height:170px;
    padding:0;
    position: relative;
}

.main_categorie_carrelages {
    margin-bottom:20px;
}

.main_categorie img, .main_categorie_carrelages img {
    width:100%;
}

.libelle_categorie {
    background-color: #f62775;
    bottom: -1px;
    position: absolute;
    z-index: 15;
    text-align: center;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    width: 100%;
}

.libelle_categorie a {
    color: white;
    -webkit-transition: color 0.2s ease; /* Safari */
    transition: color 0.2s ease;    
}

.libelle_categorie a:hover {
    color: #474747;
}

/*************************************************/
/**************** REASSURANCE ********************/
/*************************************************/

.reassurance {
    height:auto;
    padding: 0;
    margin-top:30px;
}

.reassurance div {
    padding:0;
}

.rea_texte {
    text-transform: uppercase;
    color:#8a8a8a;
    font-size: 12px;
    position: absolute;
    top: 35%;
    line-height: 14px;
}

.last_rea {
    top:20px;
}

.last_rea .rea_texte {
    top:22%;
}

/*************************************************/
/**************** NOS PRODUITS *******************/
/*************************************************/

main{
    padding:40px 0;
}
.ligne_produits {
    margin-top : 30px;
}

.title-section-produits {
    width:150px;
    height: 35px;
    position: absolute;
    top: -15px;
    left: 0;
    padding-top: 10px;
    background-color: #f62775;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.title-section-produits:after {
    content: "";
    position: absolute;
    top:0;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 0 25px;
    border-color: transparent transparent transparent #f62775;
}

.ligne_produits hr {
    padding-bottom:15px;
    padding-right: -15px;
}

.carreau {
    margin: 0;
    padding: 0;
}
.cadre{
    border: 1px solid  #afafaf;
}
.carreau img {
    width:100%;
}

.voir_produit:before {
    content: "\F002";
    font-family: FontAwesome;
    font-weight: normal;
    font-size: 15px;
    margin: 0 10px 0 5px;
    background: -webkit-gradient(linear, left top, right bottom, from(#d587b7), to(#b63d8a));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial; /* reset Font Awesome's display:inline-block */
}

.voir_produit{
    background-color: #474747;
    padding: 7px 5px;
}

.voir_produit a {
    color: white;
    font-size: 12px;
    font-weight: bold;
    -webkit-transition: color 0.2s ease; /* Safari */
    transition: color 0.2s ease;
}

.voir_produit a:hover {
    color: #f62775;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
}

.ajout_panier:before {
    content: "\f07a";
    font-family: FontAwesome;
    font-weight: normal;
    color: white;
    font-size: 15px;
    margin: 0 10px 0 5px;
}
.ajout_panier {
    background-color: #f62775;
    padding: 7px 5px;
}

.ajout_panier a {
    color: white;
    font-size: 12px;
    font-weight: bold;
    -webkit-transition: color 0.2s ease; /* Safari */
    transition: color 0.2s ease;
}

.ajout_panier a:hover {
    color: #474747;
}

.devis_perso{
    background-color:  #afafaf;
    padding: 7px 5px;
}

.devis_perso a{
    font-size: 12px;
    color: white;
    font-weight: bold;
    padding-left: 12px;
    -webkit-transition: color 0.2s ease; /* Safari */
    transition: color 0.2s ease;
}

.devis_perso a:hover {
    color: #f62775;
}

.devis_icon {
    margin-left:15px;
}

.devis_icon:before {
    content: "\F15C";
    font-family: FontAwesome;
    font-weight: normal;
    font-size: 15px;
    color:#565553;
    display: inline-block;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
}

.title_produit{
    text-align: center;
    padding-top: 15px;
    font-size: 12px;
    font-weight: bold;
    color:#474747;
}
.prix{
    text-align: center;
    color: #f62775;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom:30px;
}

.side-corner-tag {
    position: relative;
    color: #fff;
    display: inline-block;
    overflow: hidden;
    font-weight: 500;
} 

.side-corner-tag p span {
    position: absolute;
    display: inline-block;
    left: -40px;
    text-align: center;
    text-transform: uppercase;
    top: 50px;
    background: #f52674;
    width: 200px;
    font-size: 14px;
    padding: 3px 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
} 

/*************************************************/
/**************** ESHOP INFOS ********************/
/*************************************************/

.eshop_infos {
    background-color: #616161;
    min-height: 300px;
    margin-top: 45px;
}

.title-section-eshop {
    width:150px;
    height: 30px;
    position: absolute;
    top: -15px;
    left: 0;
    padding-top: 8px;
    background-color: #f62775;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.title-section-eshop:after {
    content: "";
    position: absolute;
    top:0;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #f62776;
}

.eshop_content {
    padding-top: 45px;
}

.eshop_label {
    color: white;
    font-size:12px;
    padding-bottom: 25px;
    letter-spacing: 1px;
    line-height: 14px;
}

.email {
    padding-bottom: 0;
}

.marge_legende {
    display: block;
    margin-left: 60px;
}

.eshop_label img {
    display:inline;
    float: left;
}
.eshop_legende {
    line-height:30px;
}

.separateur {
    border-left: 1px solid #878787; }

.eshop_decouverte {
    color:#f52875;
    font-weight: 500;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 25px 0 10px 0;
}


/*************************************************/
/******************* FOOTER **********************/
/*************************************************/

footer {
    min-height: 300px;
    background-color: #f5f5f5;
    padding-top: 15px;
}
footer a{
    color: gray;
    text-decoration: underline;
    font-size: 12px;
    line-height: 18px;
}
footer a:hover{
    color: #f62775;
    text-decoration: underline;
}

.footer_title {
    border-bottom:1px solid #6b6b6b;
    margin-bottom: 15px;
    display: block;
    padding-bottom: 10px;
}

h4 {
    font-size: 14px;
    font-weight: bold;
    color:#000;
    text-align: center;
    text-transform: uppercase;
}

.adresse {
    color:#616161;
    font-size:12px;
    font-weight: bold;
}

.adresse_intitule {
    color:#616161;
    font-style: italic;
    font-size: 11px;
}

.footer-pad span ul li:nth-child(2) {
    margin-top:15px;
}

#label_ekomi {
    height: 250px;
    width: 180px;
    background-color: #ebe7e8;
    padding: 40px 10px 5px 10px;
    margin: 20px auto;
    position: relative;
}

#label_ekomi img {
    position: absolute;
    top: 5px;
    z-index: 20;
    left: 50px;
}

.bord-haut {
    background-image: linear-gradient(0deg, #a4afb3, #dce0df);    
    border: 0;
    height: 3px;
    padding: 0;
    margin: 0;
}

#ekomi_notation img {
    position: absolute;
    top: 90px;
    z-index: 20;
    left: 25px;
}

#ekomi_notation {
    height: 200px;
    width: 150px;
    margin: 0 auto;
    font-size: 11px;
    color: gray;
    font-family: sans-serif, Arial;
    line-height: 20px;
    border: 1px solid #FFFFFF;
    outline: 1px solid #bcbabd;
    box-sizing: border-box;
    background: #e4e2e5;
    background: -moz-linear-gradient(left, #e4e2e5 0%, #fafff9 40%, #fafff9 60%, #e4e2e5 100%);
    background: -webkit-linear-gradient(left, #e4e2e5 0%,#fafff9 40%,#fafff9 60%,#e4e2e5 100%);
    background: linear-gradient(to right, #e4e2e5 0%,#fafff9 40%,#fafff9 60%,#e4e2e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e2e5', endColorstr='#e4e2e5',GradientType=1 );
}

#note {
    width: 160px;
    height: 60px;
    margin-top: 72px;
    z-index: 30;
    position: absolute;
    border-left: 1px solid #c4c6c3;
    border-right: 1px solid #c4c6c3;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.25);   background: #fcfefb;
    background: -moz-linear-gradient(top, #fcfefb 0%, #f4f6f3 48%, #eceeeb 53%, #ededeb 100%);
    background: -webkit-linear-gradient(top, #fcfefb 0%,#f4f6f3 48%,#eceeeb 53%,#ededeb 100%);
    background: linear-gradient(to bottom, #fcfefb 0%,#f4f6f3 48%,#eceeeb 53%,#ededeb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfefb', endColorstr='#ededeb',GradientType=0 );
    color: #000;
    font-size: 20px;
    font-weight: 500;
    padding-top: 8px;
    text-align: center;
}

.detail-not {
    color:#529b56;
    font-family: sans-serif, arial;
    font-size: 12px;
    text-align: center;
}

.texte_notation {
    height: 50px;
    border: 1px solid #cccecb;
    width: 95%;
    background-color: #FFFFFF;
    margin: 120px auto 0;
    color: #000;
    font-size: 11px;
    font-family: sans-serif, arial;
    padding: 10px 5px 0;
}

.ekomi_infos {
    padding: 0 5px;
}

.more a {
    font-weight: bold;
    display: block;
    float: right;
    padding-right: 5px;
    text-decoration: none;
}

.more a:hover {
    text-decoration: none;
}

#newsletter {
    background-color: #ebe7e8;
    width: 100%;
    min-height: 110px;
    padding: 0 15px;
    font-size: 12px;
    font-style: italic;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

.titre_nl {
    font-style:normal;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #000;
}

.footer-form {
    max-width: 220px !important;
    border-radius: none;
    padding-top: 15px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.btn-default-nl {
    background: linear-gradient(#939393, #7d7d7d);
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-radius:0 5px 5px 0;
    height: 30px;
    width: 65px;
    padding: 0;
    color: white;
    font-size: 10px;
    font-style: italic;
}

/*************************************************/
/***************** RESPONSIVE ********************/
/*************************************************/

@media screen and (max-width: 1199.98px) {
    .nav-item {
        padding: 0 5px;
    }

}

@media screen and (max-width: 991.98px) {
    .logo {
        height: auto;
    }

    .encart_compte, .encart_panier {
        text-align: right;
        padding-right: 85px;
    }

    .nav-item, nav-item:first-child {border: none !important;
    }

    .navbar {
        margin:0 30px;
    }

    .navbar-nav {
        text-align: center;
        text-transform:uppercase;
    }

    .navbar-form {
        width:100% !important;
    }

    .main_categorie_carrelages, .main_categorie {
        margin-top: 20px;
        margin-bottom: 0;
        height: auto !important;
    }

    .first_line {
        margin-top: 15px;
    }
    .second_line {
        margin-top: 0;
    }

    .last_rea {
        top:0;
    }
    .carreau {
        text-align: center;
    }
    .eshop_label {
        float:left;
        margin-right: 40px;
        margin-bottom: 10px;
    }
    .footer-pad {
        margin-top: 30px;
        padding:0 30px;
    }
}
@media screen and (max-width: 767.98px) {
    .logo {
        text-align: center;  
    }

    .square {
        padding-left:0;
    }

    .encart_compte, .encart_panier, .encart_conseils, .encart_devis {
        text-align: center;
        padding: 0;
    }

    .encart_devis::before, .encart_compte::after, .encart_conseils::before, .encart_panier::after {
        display: none;
    }

    .first_line, .second_line {
        border: none;
    }
    .cadre {
        margin-bottom:45px;
    }

}

@media screen and (max-width: 575.98px) {
    h1 {
        font-size: 75px;
    }

    h2 {
        margin-top: 10px;
    }
    .annonce {
        font-size: 10px;
    }

    .reassurance div {
        padding:10px 0;    
    }
}


