<!--FOOTER-->
<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <span class="footer_title"><h4>eshop</h4></span>
                        <span>
                            <ul>
                                <li>
                                    <div class="row">
                                        <div class='col-md-3'><img src="<?= URL ?>img/footer/plan.jpg" title="plan" width="58px"></div>
                                        <div class='col-md-6'><span class="adresse">ESHOP</span><br>
                                            <span class="adresse_intitule">Avenue Leclerc<br>
                                                75015 PARIS<br>
                                                01 28 02 29 45<br>
                                            </span></div>
                                    </div>
                                </li>
                                <li><a href="<?= URL ?>pages/page_qui_sommes_nous.php" title="Qui sommes nous ?">Qui sommes-nous ?</a></li>
                                <li><a href="<?= URL ?>pages/page_catalogue_produits.php" title="Nos produits">Nos produits</a></li>
                                <li><a href="<?= URL ?>pages/page_boutique.php" title="Nos boutiques">Nos boutiques</a></li>
                                <li><a href="<?= URL ?>pages/page_devis.php" title="Demande de devis">Demande de devis</a></li>
                                <li><a href="<?= URL ?>pages/page_contact.php" title="Nous contacter">Nous contacter</a></li>
                                <li><a href="<?= URL ?>pages/sitemap.php" title="Plan du site">Plan du site</a></li>
                                <li><a href="<?= URL ?>pages/page_professionnels.php" title="Professionnel">Professionnel</a></li>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <span class="footer_title"><h4>informations</h4></span>
                        <ul>
                            <li><a href="<?= URL ?>pages/page_ma_commande.php" title="Votre commande">Votre commande</a></li>
                            <li><a href="<?= URL ?>pages/page_mon_compte.php" title="Mon compte">Mon compte</a></li>
                            <li><a href="#"title="Aide/FAQ">Aide / FAQ</a></li>
                            <li><a href="<?= URL ?>pages/delai.php" title="livraison">Délais et frais de livraison</a></li>
                            <li><a href="<?= URL ?>pages/paiement.php"title="paiement">Sécurité de paiement</a></li>
                            <li><a href="<?= URL ?>pages/retour.php" title="échange">Echange et retour express</a></li>
                            <li><a href="<?= URL ?>pages/parrainage.php" title="parrainage">Parrainage</a></li>
                            <li><a href="<?= URL ?>pages/cadeau.php" title="carte cadeau">Carte cadeau</a></li>
                            <li><a href="<?= URL ?>pages/fidelite.php" title="Point de fidélité">Point de fidélité</a></li>
                            <li><a href="<?= URL ?>pages/avoir.php" title="Avoirs et remises">Avoirs et remises</a></li>
                            <li><a href="<?= URL ?>pages/page_cgv.php">Conditions générales de vente</a></li>
                            <li><a href="<?= URL ?>pages/mentions.php">Mentions légales</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <span class="footer_title"><h4>qualité</h4></span>
                        <div id="label_ekomi">
                            <div id="note">4.3/5<br><span class="detail-not">Calculé sur 46 avis</span></div>
                            <img src="<?= URL ?>img/footer/label_ekomi_silver.png" width="80" alt="label ekomi">
                            <div id="ekomi_notation">
                                <hr class="bord-haut">
                                <img src="<?= URL ?>img/footer/label_ekomi_stars.jpg" alt="notation" width="130">
                                <div class="texte_notation">
                                    Prestation super
                                </div>
                                <span class="ekomi_infos">01/05/1895<span class="more"><a href="#" title="plus">plus</a></span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <span class="footer_title"><h4>partage</h4></span>
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FESHOP-200495960707777%2F&tabs=journal&width=255&height=150&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId" width="255" height="150" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        <div id="newsletter"><span class="titre_nl">Inscription à la newsletter<br></span>Recevez les promotions et nouveautés du site
                            <form class="footer-form">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="adresse.client@gmail.com" name="q">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default-nl" type="submit">M'inscrire</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</footer>