<!--HEADER RESPONSIVE-->
<header>
    <div class="row annonce-container">
        <div class="annonce col-xl-2 col-lg-3 text-center">Satisfait ou rembours&eacute;</div> 
        <div class="annonce col-xl-6 offset-xl-1 col-lg-5 text-center"><span class="icon_phone">Besoin d'aide ?</span> 01 28 02 29 45 <span class="font-italic font-weight-normal">(appel gratuit)</span></div>
        <div class="annonce col-xl-2 offset-xl-1 col-lg-3 text-center">Paiement sécurisé</div>
    </div>
    <div class="row logo">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <a href="<?= URL ?>index.php" title="Accueil"><h1><span class="square">E</span>SHOP</h1>
                        <h2>De l'élégance pour votre habitat !</h2></a>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-12 offset-xl-1">
                    <div class="row first_line">
                        <div class="col-lg-7 col-md-6 encart_devis"><a href="<?= URL ?>pages/page_devis.php" title="devis"><span class="intitule">Devis personnalisé</span>
                            <span class="legende">Devis gratuit sous 24H</span></a></div>
                        <div class="col-lg-5 col-md-6 encart_compte"><a href="<?= URL ?>pages/page_mon_compte.php" title="account"><span class="intitule">Mon compte</span>
                            <span class="legende">Se connecter</span></a></div>
                    </div>
                    <div class="row second_line">
                        <div class="col-lg-7 col-md-6 encart_conseils"><a data-toggle="modal" data-target="#myModal" href="#" title="account"><span class="intitule">Conseils et Questions</span>
                            <span class="legende">Rappels automatique gratuit</span></a></div>
                        <div class="col-lg-5 col-md-6 encart_panier"><a href="<?= URL ?>pages/page_mon_panier.php" title="panier"><span class="intitule">Mon Panier</span>
                            <span class="legende">0€ - 0 produits</span></a></div>
                    </div>
                </div>
            </div>
        </div><!--FIN CONTAINER-->
    </div><!--FIN DIV LOGO-->
    <!--MODAL WINDOW FAQ-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Conseils et questions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0 faq-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <span class="fa-stack">
                                            <span class="fa fa-circle-thin fa-stack-2x"></span>
                                            <span class="fa-stack-1x">
                                                1    
                                            </span>
                                        </span>Comment suivre ma commande ?
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-block">
                                    Si votre commande n’a pas été expédiée, vous pouvez suivre votre commande dans la rubrique <a href="#" title="suivi">Mon suivi de commande</a> de votre compte sur la page <a href="#" title="contact">nous contacter</a>. 
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <h5 class="mb-0 faq-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span class="fa-stack">
                                            <span class="fa fa-circle-thin fa-stack-2x"></span>
                                            <span class="fa-stack-1x">
                                                2    
                                            </span>
                                        </span>J’ai reçu un article cassé ou non-conforme.</a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-block">
                                    Si l’article que vous avez reçu est cassé ou non-conforme, veuillez <a href="#" title="contact">nous contacter</a> afin que nous puissions vous proposer la solution la plus appropriée au produit en question. Nous vous invitons à joindre des photos montrant le dommage ou de l’erreur à votre message.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <h5 class="mb-0 faq-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <span class="fa-stack">
                                            <span class="fa fa-circle-thin fa-stack-2x"></span>
                                            <span class="fa-stack-1x">
                                                3    
                                            </span>
                                        </span>J’ai passé commande mais je n’arrive pas à me connecter à mon compte eshop.fr</a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="card-block">
                                    Lorsque vous créez un compte sur <a href="#" title="home">eshop.fr</a>, un e-mail spécifique vous est envoyé pour vous confirmer la création de votre compte. Si vous n’avez reçu que l’e-mail confirmant votre commande, il est possible que vous ayez passé une commande en tant qu'invité.<br>

                                    Vous recevrez alors les e-mails confirmant votre achat ainsi que son expédition, vous permettant de suivre votre commande.<br>

                                    Veuillez noter que si vous créez un compte eshop.fr après la validation de cette commande, vous ne retrouverez pas les commandes passées en tant qu'invité, et nous ne serons pas en mesure de les associer à votre compte a posteriori.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFour">
                                <h5 class="mb-0 faq-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <span class="fa-stack">
                                            <span class="fa fa-circle-thin fa-stack-2x"></span>
                                            <span class="fa-stack-1x">
                                                4    
                                            </span>
                                        </span>Comment consulter mes points de fidélité dans mon compte ? </a>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="card-block">
                                    Si vous ne voyez pas vos points de fidélité lorsque vous vous connectez à votre compte <a href="#" title="home">eshop.fr</a>, cela signifie que votre Carte Maison n’est pas rattachée à votre compte.<br>
                                    Nous vous invitons à <a href="#" title="contact">nous contacter</a> afin que nous puissions associer votre carte à votre compte.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-modal" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <!--NAVIGATION-->
    <div class="row menu">
        <div class="container">
            <div class="row">

                <nav class="navbar navbar-expand-lg navbar-light col-md-12">
                    <a class="navbar-brand" href="<?= URL ?>index.php"title="accueil"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="<?= URL ?>pages/page_catalogue_carrelage.php" title="catalogue carrelage">Carrelage</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="<?= URL ?>pages/page_catalogue_plancher.php" title="catalogue plancher">Parquet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="<?= URL ?>pages/page_catalogue_exterieur.php" title="catalogue exterieur">Extérieur</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="<?= URL ?>pages/page_catalogue_mur.php" title="catalogue mur">Mur</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="<?= URL ?>pages/page_catalogue_accessoires.php" title="catalogue accessoires">Accessoires</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="<?= URL ?>pages/page_pose.php" title="pose">Pose</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="<?= URL ?>pages/page_catalogue_sanitaire.php" title="catalogue sanitaires"">Sanitaires</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="<?= URL ?>pages/page_contact.php" title="contact">Contact</a>
                            </li>

                        </ul>
                        <form class="navbar-form" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Rechercher un produit" name="q">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!--FIN HEADER-->