<aside class="col-lg-3 col-md-12 aside-nav">
    <nav class="navbar navbar-expand-lg navbar-light">
      <span class="navbar-brand">Nos services</span>
        <a href="#" class="icon-nav" type="button" data-toggle="collapse" data-target="#navbar-infos" aria-controls="navbar-infos" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-plus-circle"></span>
        </a>
        <div class="collapse navbar-collapse" id="navbar-infos">

            <ul class="side-nav">
                <li>
                    <a title="delai" href="delai.php">Délais et frais de livraison</a>
                </li>
                <li>
                    <a title="paiement" href="paiement.php">Sécurité de paiement</a></li>
                <li>
                    <a title="retour" href="retour.php">Echange et retour</a></li>
                <li>
                    <a title="parrainage" href="parrainage.php">Parrainage</a>
                </li>
                <li>
                    <a title="cadeau" href="cadeau.php">Carte cadeau</a>
                </li>
                <li>
                    <a title="fidelite" href="fidelite.php">Points de fidélité</a></li>
                <li>
                    <a title="avoir" href="avoir.php">Avoirs et remises</a>
                </li>
            </ul>
        </div>
    </nav>
</aside>